html {
}

body {
}

body,
.table {
    color: #fff;
}

body,
.bg-dark {
    background-color: #111 !important;
}

#soprano {
    color: white;
    background-color: #111;
    height: 100%;
    padding-bottom: 100px;
}

#sidebar {
    width: 190px;
    min-width: 190px;
    padding-top: 2px;
    background-color: #111;
}

#sidebar .navbar-item {
    font-size: 1.3em;
}

main {
    height: calc(100vh - 67px);
}

.content {
    width: 100%;
    padding: 0 10px;
}

a:link,
a:visited {
    color: #ffffff;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

a:hover,
a:active {
    color: springgreen;
}

ul.navbar-nav a {
    color: #666;
}

ul.navbar-nav a:hover {
    color: #222;
}

#sidebar > ul.navbar-nav li.navbar-item {
    padding: 5px 0;
}

#sidebar > ul.navbar-nav li.navbar-item {
    color: #888;
}

#sidebar > ul.navbar-nav li.navbar-item:hover {
    color: #fff;
}

.btn-link:hover {
    color: springgreen;
}

.card {
    background-color: #111;
    color: white;
    border-color: #666;
}

.music-note {
    filter: invert(1);
}

.navbar-brand {
    font-size: 1.8em;
}

.navbar-brand > img {
    height: 25px;
}

.container-fluid {
    padding: 0 8px !important;
}

#player {
    overflow-x: hidden;
}

.player-btn {
    font-size: 1.7em;
    color: #888;
}

.player-btn:hover {
    color: #fff;
}

#player-controls > button {
    margin-right: 20px;
}

/**
 * Player
 */
#player {
    background-color: #222;
    height: 100px;
    width: 100%;
    z-index: 999;
    position: absolute;
    bottom: 0;
}

#player-cont {
    padding-top: 10px;
}

#player-cover-art {
    height: 100px;
}

.action-col {
    text-align: right;
    width: 1%;
}

.table {
    width: 100%;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#directories {
    margin-top: 20px;
}

.dir-path {
    line-height: 32px;
    font-size: 1.1em;
}

.dir-path:hover {
    background-color: #222;
}

.scan-progress {
    background-color: #222;
    margin-top: 10px;
    margin-right: 8px;
}

.help-text {
    padding: 6px;
    font-size: 0.8em;
    color: #999;
}
.directory-actions > button {
    margin-right: 6px;
}

@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
    #sidebar {
        width: 100px;
        min-width: 100px;
    }
    .sidebar-icon {
        margin-right: 0 !important;
    }
    .link-toggle {
        display: none;
    }
    #sidebar > ul.navbar-nav li.navbar-item span {
        font-size: 1.4em;
        padding: 8px 0;
    }
    .navbar-brand img {
        padding-left: 14px;
        height: 28px;
    }
    .navbar-brand span {
        display: none;
    }
}

@media (max-width: 991.98px) {
}
